{{#each this}}
    <div class="list-group">
        <div class="col-md-12 list-group-item place-container">
            <div class="col-md-10 place-inner-div">
                <span class="text-warning">Country: {{this.country}}</span>
                <span class="text-success place-info-inner">State: {{this.state}}</span>
                <span class="text-info place-info-inner">City: {{this.city}}</span>
            </div>
            <a href="#" class="btn btn-primary btn-sm pull-right">Place details</a>
        </div>
    </div>
{{/each}}
