html, body {
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    z-index: 10;
}

.navbar-header img {
    border-radius: 10px;
    height: 30px;
    padding: 0;
    width: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #375a7f;
    width: 100%;
    display: block;
}

#reset-button, #submit-button, #button-rest, #button-login {
    margin: 5px;
}

/*globe*/
#globe-view #map {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    position: absolute !important;
}

#globe-view .we-pp-wrapper {
    border-radius: 0;
    color: darkslategrey;
}

#globe-view #layercontrol {
    position: absolute;
    top: 10px;
    right: 10px;
}

#globe-view #globe-buttons {
    position: absolute;
    margin-left: 17%;
}

/*end of globe*/

/*google maps search input*/
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    height: 40px;
    margin-top: 40px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

/*end of google maps search input*/

 /*google maps*/
#map {
    margin-top: 15px;
    height: 400px;
}

#panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}

#panel, .panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#panel select, #panel input, .panel select, .panel input {
    font-size: 15px;
}

#panel select, .panel select {
    width: 100%;
}

#panel i, .panel i {
    font-size: 12px;
}
/*end google maps*/

/*home view*/
.carousel-inner, .carousel-inner .item img {
    border-radius: 15px;
}

.home-buttons {
    border: 5px solid white;
    border-radius: 15px;
}
/*end of home view*/

.alert-pesho {
    position: absolute;
    right: 20px;
    top: 80px;
}

.authorized, .unauthorized {
    display: none;
}

.trips-view-container {
    margin-bottom: 5px;
}

.trip-details {
    margin-top: 3px;
    margin-bottom: 0;
    display: none;
}

.place-details {
    margin-bottom: 6px !important;
    border-radius: 4px 4px 4px 4px;
    display: none;
}

.place-container {
    margin-bottom: 6px !important;
    border-radius: 4px 4px 4px 4px;
}

.place-inner-div {
    margin-top: 6px;
}

.place-info-inner {
    padding-left: 10px;
}

