<div id="globe-view">
    <div id="map"></div>
    <div class="row globe-buttons">
        <div class="col-md-4">
            <input id="random" class="btn btn-success btn-block" type="submit" value="Random Country"/>
        </div>
        <div class="col-md-4">
            <input id="spin" class="btn btn-success btn-block" type="submit" value="Spin"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        </div>
    </div>
    <div id="trip-container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group" id="place-container">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <input class="btn btn-success" id="save-trip" type="submit" value="Make Trip"/>
            </div>
            <div class="col-lg-2">
                <input class="btn btn-danger" id="remove-all" type="submit" value="Remove All"/>
            </div>
        </div>
    </div>
</div>
