<div id="home-view">
    <div class="row">
        <h1>Slider Goes Here</h1>
    </div>
    <div class="row authorized">
        <div class="col-md-4">
            <h1>Places</h1>
        </div>
        <div class="col-md-4">
            <h1>Trips</h1>
        </div>
        <div class="col-md-4">
            <h1>Globe</h1>
        </div>
    </div>
</div>




<!-- <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="jumbotron">
            <img src="app/imgs/JustGo.jpg" alt="Logo" id="jumbotron"/>
        </div>
        <div id="myCarousel" class="carousel slide" data-interval="1000" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img src="app/imgs/iceland.jpg" alt="Iceland" class="img-responsive">
                </div>
                <div class="item active">
                    <img src="app/imgs/iceland.jpg" alt="Sofia" class="img-responsive">
                </div>
                <div class="item">
                    <img src="app/imgs/iceland.jpg" alt="Rio" class="img-responsive">
                </div>
                <div class="item">
                    <img src="app/imgs/iceland.jpg" alt="India" class="img-responsive">
                </div>
            </div>
            <a class="carousel-control left" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
-->
