<div id="home-view">
    <div class="row authorized">
        <div class="col-md-4">
            <h1>Places</h1>
        </div>
        <div class="col-md-4">
            <h1>Trips</h1>
        </div>
        <div class="col-md-4">
            <h1>Globe</h1>
        </div>
    </div>
</div>
<div class="col-md=12">
    <h1 style="text-align: center">JustGo - a revolutionary travel app, which helps you plan and save your travelling
        adventures.</h1>
</div>
<div class="carousel slide" id="myCarousel">
    <br/>
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        <li data-target="#myCarousel" data-slide-to="5" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="col-md-2"><img src="./app/imgs/rio.jpg" class="img-responsive"></div>
        </div>
        <div class="item">
            <div class="col-md-2"><img src="./app/imgs/iceland.jpg" class="img-responsive"></div>
        </div>
        <div class="item">
            <div class="col-md-2"><img src="./app/imgs/africa.jpg" class="img-responsive"></div>
        </div>
        <div class="item">
            <div class="col-md-2"><img src="./app/imgs/paris.jpg" class="img-responsive"></div>
        </div>
        <div class="item">
            <div class="col-md-2"><img src="./app/imgs/germany.jpg" class="img-responsive"></div>
        </div>
        <div class="item">
            <div class="col-md-2"><img src="./app/imgs/NewYork.jpg" class="img-responsive"></div>
        </div>
    </div>
    <br/><br/>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i
        class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i
        class="glyphicon glyphicon-chevron-right"></i></a>
</div>

<div class="col-md=10 col-md-offset-2" style="margin-top: 20px">
    <div class="col-md-4"><a href="#/places"><img src="./app/imgs/homeview/myPlaces.png" class="img-responsive home-buttons"
                                                  alt="myPlaces"></a></div>
    <div class="col-md-4"><a href="#/trips"><img src="./app/imgs/homeview/myTrips.png" class="img-responsive home-buttons"
                                                 alt="myTrips"></a></div>
    <div class="col-md-4"><a href="#/globe"><img src="./app/imgs/homeview/globe.png" class="img-responsive home-buttons"
                                                 alt="globe"></a></div>
</div>

<blockquote class="img-responsive pull-right">
    <br/>
    <p><i>"The best travel mapper on the market!"</i></p>
    <small><cite title="Source Title">Rolling Stones</cite></small>
</blockquote>
