<div class="col-md-12" id="places-view">
    <h2>My saved places</h2>
    {{#each this}}
    <div class="list-group">
        <div class="col-md-12 list-group-item place-container">
            <div class="col-md-10 place-inner-div">
                <span class="text-warning">Country: {{this.country}}</span>
                <span class="text-success place-info-inner">State: {{this.state}}</span>
                <span class="text-info place-info-inner">City: {{this.name}}</span>
            </div>
            <a class="btn btn-primary btn-sm pull-right" id="detailsID-{{@index}}">Place details</a>
        </div>
        <div class="col-md-12 list-group-item place-details" id="{{@index}}" style="height: 350px; width: 350px">
            <div id="map-{{@index}}">I am a div</div>
        </div>
        <img src="https://maps.googleapis.com/maps/api/streetview?size=350x350&location={{this.latitude}},{{this.longitude}}&heading=100&pitch=8&scale=2&key=AIzaSyCP9uz6zrR6jTUMHtHjodwa_a-EQaWcAJ4" id="img1{{this._id}}" style="display: none"/>
        <img src="https://maps.googleapis.com/maps/api/streetview?size=350x350&location={{this.latitude}},{{this.longitude}}&heading=100&pitch=8&scale=2&key=AIzaSyCP9uz6zrR6jTUMHtHjodwa_a-EQaWcAJ4" id="img2{{this._id}}" style="display: none"/>
        <img src="" width="350" height="350" id="img3{{this._id}}" style="display: none"/>
        <img src="" width="350" height="350" id="img4{{this._id}}" style="display: none"/>
    </div>
    {{/each}}
</div>

