<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 style="margin-top: 0px">Welcome to your adventure planner! Click on the images below to plan a trip, save it or go over your
            saved trips.</h2>
    </div>
</div>
<div class="row">
<div class="row" id="img-start-container">
    <div class="col-md-3 col-md-offset-2">
        <div class="well well-sm" id="tooltip-1" style="display: none">
            Look, I'm in a small well!
        </div>
        <a href="#"><img class="img-responsive img-rounded" id="img-1" src="app/imgs/startView/img1.jpg"></a></div>
    <div class="col-md-3">
        <div class="well well-sm" id="tooltip-2" style="display: none">
            Look, I'm in a small well!
        </div>
        <a href="#"><img class="img-responsive img-rounded" id="img-2" src="app/imgs/startView/img2.jpg"></a>
    </div>
    <div class="col-md-3">
        <div class="well well-sm" id="tooltip-3" style="display: none">
            Look, I'm in a small well!
        </div>
        <a href="#"><img class="img-responsive img-rounded" id="img-3" src="app/imgs/startView/img3.jpg"></a>
    </div>
</div>
