<form class="form-horizontal">
    <fieldset>
        <legend>Registration</legend>

        <div class="alert alert-dismissible alert-danger" id="username-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Invalid Username!</strong> Username must be 4 characters or more.
        </div>

        <div class="alert alert-dismissible alert-danger" id="email-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Invalid Email!</strong>
        </div>

        <div class="alert alert-dismissible alert-danger" id="password-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Invalid Password!</strong> Password must be 4 characters or more.
        </div>

        <div class="form-group">
            <label for="inputUsername" class="col-md-2 control-label">Username</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label">Password: </label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label for="inputPassword" class="col-md-2 control-label">Retype password: </label>-->
            <!--<div class="col-md-10">-->
                <!--<input type="password" class="form-control" id="retypeinputPassword" placeholder="Retype password">-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <div id="registration-buttons">
                    <input type="reset" class="btn btn-primary" id="reset-button">
                    <input type="submit" class="btn btn-primary btn-success" id="submit-button">
                </div>
            </div>
        </div>
    </fieldset>

    <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
        <!--&lt;!&ndash; Carousel indicators &ndash;&gt;-->
        <!--<ol class="carousel-indicators">-->
            <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
        <!--</ol>-->
        <!--&lt;!&ndash; Wrapper for carousel items &ndash;&gt;-->
        <!--<div class="carousel-inner">-->
            <!--<div class="item active">-->
                <!--<img src="app/imgs/Iceland.jpg" alt="First Slide">-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<img src="app/imgs/India.jpg" alt="Second Slide">-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<img src="app/imgs/Paris.jpg" alt="Third Slide">-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Carousel controls &ndash;&gt;-->
        <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->
        <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--</a>-->
    <!--</div>-->
</form>
